<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HostManagement</display-name>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.app.OnServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/hostLifecycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MonitoringServlet</servlet-name>
    <servlet-class>com.app.MonitoringServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonitoringServlet</servlet-name>
    <url-pattern>/monitoring</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MonitoringStatusServlet</servlet-name>
    <servlet-class>com.app.StatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonitoringStatusServlet</servlet-name>
    <url-pattern>/monstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HostServlet</servlet-name>
    <servlet-class>com.app.HostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HostServlet</servlet-name>
    <url-pattern>/hostservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MasterHostServlet</servlet-name>
    <servlet-class>com.app.MasterHostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterHostServlet</servlet-name>
    <url-pattern>/masterhost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogBrmsVmRestartActions</servlet-name>
    <servlet-class>com.app.LogBrmsVmRestartActionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogBrmsVmRestartActions</servlet-name>
    <url-pattern>/vmlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisableMonitoringAction</servlet-name>
    <servlet-class>com.app.DisableMonitoringServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisableMonitoringAction</servlet-name>
    <url-pattern>/disablemon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveHostStatusServlet</servlet-name>
    <servlet-class>com.app.SaveHostMonStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveHostStatusServlet</servlet-name>
    <url-pattern>/savehoststatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmanService</servlet-name>
    <servlet-class>com.app.EmanServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmanService</servlet-name>
    <url-pattern>/eman</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>jsp_view/monitoring.jsp</welcome-file>
  </welcome-file-list>
</web-app>