		</td>
		<!-- // END CONTENT AREA -->

		<td><img src="//www.cisco.com/swa/i/s.gif" width="16" height="1" alt=""></td>
	</tr>
	<tr><td colspan="3"><img src="//www.cisco.com/swa/i/s.gif" width="1" height="16" alt=""></td></tr>
</table>
<!--// END MAIN CONTENT TABLE -->
	
<!--// FOOTER -->
<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr><td colspan="4"><img src="//www.cisco.com/swa/i/s.gif" width="1" height="17" alt=""></td></tr>
	<tr><td width="13"><img src="//www.cisco.com/swa/i/s.gif" width="13" height="1" alt=""></td>
		<td width="100%" class="featuretext" nowrap colspan="2">
<script language="JavaScript">
	if(window.opener) { 
		document.write("<a href=\"javascript:self.close();\" class=\"secondarynav\">Close Window</a>");
		document.write("<span class=\"secondarynav\">&nbsp;&nbsp;|&nbsp;&nbsp;</span>");
	}
</script>
<a href="javascript:printit();" class="secondarynav">Print</a></td>
		<td><img src="//www.cisco.com/swa/i/s.gif" width="14" height="1" alt=""></td></tr>
	<tr><td colspan="4"><img src="//www.cisco.com/swa/i/s.gif" width="1" height="4" alt=""></td></tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr bgcolor="#669999"><td background="//www.cisco.com/swa/i/popup_footer_pattern.gif"><img src="//www.cisco.com/swa/i/s.gif" width="13" height="1" alt=""></td>
		<td width="100%" colspan="2"><img src="//www.cisco.com/swa/i/s.gif" width="1" height="4" alt=""></td></tr>		
	<tr><td background="//www.cisco.com/swa/i/popup_footer_pattern.gif"><img src="//www.cisco.com/swa/i/s.gif" width="1" height="3" alt=""></td>
		<td width="100%"><img src="//www.cisco.com/swa/i/s.gif" width="1" height="1" alt=""></td>
		<td width="1"><img src="//www.cisco.com/swa/i/s.gif" width="1" height="1" alt=""></td></tr>
	<tr><td><img src="//www.cisco.com/swa/i/s.gif" width="1" height="1" alt=""></td>

        <td class="footertext" valign="top" width="100%" colspan="2">
		<span class="footertext">&copy; 1992-2010 Cisco Systems, Inc. All rights reserved. <a class="footerlink" title="Open Popup Window" href="javascript:openLargePopup('//www-dev.cisco.com/en/US/swassets/sw293/sitewide_important_notices.html','popuplarge');">Terms and Conditions</a>, <a class="footerlink" title="Open Popup Window" href="javascript:openLargePopup('//www-dev.cisco.com/en/US/swassets/sw293/privacy_statement.html','popuplarge');">Privacy Statement</a>, <a class="footerlink" title="Open Popup Window" href="javascript:openLargePopup('//www-dev.cisco.com/en/US/swassets/sw293/privacy_statement.html#cookies','popuplarge');">Cookie Policy</a> and <a class="footerlink" title="Open Popup Window" href="javascript:openLargePopup('//www-dev.cisco.com/en/US/swassets/sw293/trademark_statement.html','popuplarge');">Trademarks</a> of Cisco Systems, Inc.</span>
	</td></tr>
</table>
<!--// END FOOTER -->

