<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>iBPMLab</display-name>
  <servlet>
		<servlet-name>emanServlet</servlet-name>
		<servlet-class>com.cisco.brmspega.servlet.EmanServlet</servlet-class>
	</servlet>
  <servlet-mapping>
		<servlet-name>emanServlet</servlet-name>
		<url-pattern>/eman</url-pattern>
	</servlet-mapping>	
  <servlet>
    <servlet-name>EmanResponse</servlet-name>
    <servlet-class>com.app.GetEmanResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmanResponse</servlet-name>
    <url-pattern>/emanResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DomainStatus</servlet-name>
    <servlet-class>com.cisco.brmspega.servlet.BrmsJSONStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DomainStatus</servlet-name>
    <url-pattern>/demo/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BRMSAdminStatus</servlet-name>
    <servlet-class>com.cisco.brmspega.servlet.BRMSAdminStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BRMSAdminStatus</servlet-name>
    <url-pattern>/adminstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllDomainStatus</servlet-name>
    <servlet-class>com.cisco.brmspega.servlet.BRMSDomainStatusJsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllDomainStatus</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DomainStatusd</servlet-name>
    <servlet-class>com.cisco.brmspega.servlet.BRMSJsonPingStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DomainStatusd</servlet-name>
    <url-pattern>/status/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UrlRedirect</servlet-name>
    <servlet-class>com.cisco.brmspega.servlet.UrlRedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlRedirect</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendNotificationToApns</servlet-name>
    <servlet-class>com.cisco.brmspega.servlet.SendIOSNotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendNotificationToApns</servlet-name>
    <url-pattern>/sendnotification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostStatus</servlet-name>
    <servlet-class>com.app.PostBrmsStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostStatus</servlet-name>
    <url-pattern>/poststatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStatus</servlet-name>
    <servlet-class>com.app.GetBrmsStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStatus</servlet-name>
    <url-pattern>/getstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetDomainStatus</servlet-name>
    <servlet-class>com.app.GetBrmsDomainStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDomainStatus</servlet-name>
    <url-pattern>/work/info/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>monitorConfigServletNew</servlet-name>
    <servlet-class>com.cisco.brmspega.servlet.BrmsMonitorAdminServletNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>monitorConfigServletNew</servlet-name>
    <url-pattern>/monitorConfigNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>monitorConfigServlet</servlet-name>
    <servlet-class>com.cisco.brmspega.servlet.BrmsMonitorAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>monitorConfigServlet</servlet-name>
    <url-pattern>/monitorConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>com.cisco.brmspega.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>storeDeviceToken</servlet-name>
    <servlet-class>com.cisco.brmspega.servlet.StoreIOSDeviceToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>storeDeviceToken</servlet-name>
    <url-pattern>/storetoken</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServerActionService</servlet-name>
    <servlet-class>com.cisco.brmspega.servlet.ServerActionService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerActionService</servlet-name>
    <url-pattern>/serverAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.cisco.brmspega.servlet.EmanPingJobManager</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>jsp/brms_domain_app_status.jsp</welcome-file>
  </welcome-file-list>
</web-app>