<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JDBCDataSourceExample</display-name>
  <servlet>
    <servlet-name>testJNDI</servlet-name>
    <servlet-class>com.journaldev.jdbc.datasource.JDBCDataSourceExample</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>testJNDI</servlet-name>
    <url-pattern>/testjndi</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>testPGJNDI</servlet-name>
    <servlet-class>com.journaldev.jdbc.datasource.JDBCPGDataSourceExample</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>testPGJNDI</servlet-name>
    <url-pattern>/testpgjndi</url-pattern>
  </servlet-mapping>
  
  <resource-ref>
    <description>This app requires a mysql connection.</description>
    <res-ref-name>jdbc/MyDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <resource-ref>
    <description>This app requires a postgres DB connection.</description>
    <res-ref-name>jdbc/MyPGDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>